<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小本丸的抓鬼系統</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css' />
</head>
<style>
body {
  height: 100%;
  background-color: rgb(231, 255, 239);
}

.tableclass {
  width: 50%;
}

.container {
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: center;
}

input {
  width: 250px;
  display: inline-block;
}

.inputClass {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.fixbtn {
  position: fixed;
  top: 0;
  right: 0;
  /* width: 200px; */
}

/* tr {
   line-height: 25px;
   min-height: 25px;
   height: 25px;
} */


</style>
<body>
  <div id="app">
    <h1 class="text-center">
      本丸的抓鬼系統
    </h1>
    <a class="fixbtn" href="backend.html">排名和已完成紀錄</a>
    <div class="inputClass">
      <input type="text" class="textclass" v-model="selected" placeholder="輸入高中名稱">
      <button class="btn btn-info mx-1" @click="postSchool">送出</button>
    </div>
    <div class="container">
        <loading :active.sync="isLoading" loader="bars"></loading>
        
        <table class="table tableclass table-striped">
          <thead class="thead-dark">
            <tr>
              <th style="width: 100px;">id</th>
              <th style="width: 300px;">IG</th>
              <th style="width: 80px;">Del</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in igArr" :key="item.name">
              <td>{{item.id}}</td>
              <td>{{item.igId}}</td>
              <td><button @click="delIgId(item.id)"><i class="far fa-trash-alt"></i></button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
      </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
  <script src="./database.js"></script>
</body>
</html>