<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小本丸</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">

  <style>
    html,
    body {
      height: 100%;
      background-color: #F8C3CD;
      /* text-align: center; */
    }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .fontstyle {
      font-family: 'Noto Sans TC', sans-serif;
    }

    form {
      width: 250px;
    }

    h1, button, label {
      font-family: 'Noto Sans TC', sans-serif;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="container">
      <loading :active.sync="isLoading" loader="bars"></loading>
      <h1 class="text-center my-3">
        制服大調查
      </h1>
      <div class="form-group">
        <label for="exampleInputEmail1">IG 帳號</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="請填入您的ig帳號" v-model="tempigacc">
        <small id="emailHelp" class="form-text text-muted">有效的IG帳號才算一票喔 >_0</small>
      </div>
      <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1" class="fontstyle">請選擇縣市</label>
          <select class="form-control" id="exampleFormControlSelect1" v-model="tempcity">
            <!-- <option selected>請選擇城市</option> -->
            <option v-for="item in city">{{item}}</option>
            <!-- <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option> -->
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2" class="fontstyle">請選擇學校</label>
          <select class="form-control" id="exampleFormControlSelect2" v-model="tempschool">
            <option v-for="item in schoolFromCity(tempcity)">{{item}}</option>
            <!-- <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option> -->
          </select>
        </div>
        <center><button class="btn btn-info" :disabled="isdis" @click.prevent="submits">確認</button></center>
        <!-- <center><label for="">謝謝您的回覆!</label></center> -->
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
      </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
  <script src="./uniform.js"></script>
</body>
</html>